body, html {
    margin: 0;
    margin-top: env(safe-area-inset-top);
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #FFEAC7;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .logo img {
    height: 50px;
}

.navbar .registry img {
    height: 50px;
}

@media (max-width: 1200px) {
    .navbar {
        width: 85%;
    }

    .navbar .logo img {
        height: 40px;
    }

    .navbar .registry img {
        height: 40px;
    }

    .main-image {
        width: 350px;
    }

    .secondary-image {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 90%;
    }

    .navbar .logo img {
        height: 30px;
    }

    .navbar .registry img {
        height: 30px;
    }

    .main-image {
        width: 300px;
    }

    .secondary-image {
        width: 120px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.main-image {
    width: 400px;
    margin-bottom: 20px;
}

.secondary-image {
    width: 120px;
    position: absolute;
    margin-top: 25%;
    transition: transform 0.3s ease;
    transform-origin: center;
    cursor: pointer;
}

